/*GENERALES*/
html {
    box-sizing: border-box;
    font-size: 16px;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    line-height: 1.5;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 26px;
}
/*Ajustamos las imagenes al ancho del contenedor*/
img {
    max-width: 100%;
}
/**Para reutilizar a lo largo del sitio**/
.fw-300 {
    font-weight: 300;
}
.text-center {
    text-align: center;
}
.gnral_navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
.gnral_navegacion a:last-of-type {
    /*Para eliminar el margin-right que afecta al último enlace*/
    margin: 0;
}
.gnral_navegacion a:hover {
    color: #71B100;
}
.gnral_contenedor {
    max-width: 1200px;
    /*0 para que no afecte arriba, ni abajo y auto tomar el espacio
    de la izquierda y la derecha y ajustarlo de manera automatica*/
    margin: 0 auto;
}
.gnral_seccion {/*<------ POR Valiar*/
    margin-top: 20px;
    margin-bottom: 20px;
}
.gnral_boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 30px;
    /*Los enlaces tienen por default display: inline por lo tanto no afecta
    el ancho (width) que definamos, para poder aplicar el ancho definido, 
    debemos cambiar a display: inline-block porque si solo utilizamos solo el
    display:block,(Sin width) este tomara todo el ancho disponible.

    Cabe mencionar que cuando usamos esta tecnica, el ancho del elemento es mayor
    al width definido, es decir:
    padding: 5px;
    width: 15px;
    El elemento tendra un ancho de 25 (5 + 15 + 5)
    Por lo que debemos ocupar una tecnica para respetar el ancho sin que considere
    el padding:
    html {
        box-sizing: border-box;
    }
    *,*:before,*:after {
        box-sizing: inherit;
    }
    Despues de aplicar esto, 
    padding: 5px;
    width: 15px;
    El elemento tendra un ancho de 15 ( width)
    
    Tambien las imagenes son por default, display:inline si deseamos cambiar su
    ancho debemos cambiarlas a display:block o display:inline-block
    
    Mientas que h4,p,etc son display:block por lo tanto le podemos definir un acho*/
    display: inline-block;
    text-align: center;
}
.gnral_boton_amarillo {
    background-color: #E08709;
    display: block; 
    /*Se cambio en la practica por la siguiente regla antes de la regla .gnral_boton
    .d-block {
        display:block;!important --> Para que tome este estilo y omita los siguientes
    }
    y en el HTML se agrega la clase
    <a href="anuncio.html" class="gnral_boton gnral_boton_amarillo D-BLOCK">Ver Propiedad</a>
        */

}
.gnral_boton_verde {
    background-color: #71B100;
}

/*****************
****  HEADER  ****
*****************/
.header_site {
    background-color: #333333;
    padding: 10px 0 30px 0;
}
.header_site.inicio_principal {
    /*Seleccionamos una imagen de fondo*/
    background-image: url("../img/header.jpg");
    /*Posicionamos la imagen desde el centro*/
    background-position: center center;
    /*Se ajusta la imagen para que tome las proporciones definidas*/
    background-size: cover;
    /*Tamaño de la imagen, vh (view port) detecta el tamaño de la pantalla
    y toma esa altura*/
    height: 100vh;
    /*Adicional, le indicamos que debe tener un minimo de tamaño la imagen
    por si se llega a tener una pantalla mas pequeña*/
    min-height: 600px;
}

.header_vertical_contenedor {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0px;
    line-height: 2;
}
.header_vertical_contenedor h1 {
    color: #ffffff;
}
.header_barra {
    /*Vuelve a los elementos flexibles*/
    display: flex;
    /*Definimos que ponga los elementos al incio y final del contenedor*/
    justify-content: space-between;
    /*Alineamos los elementos al centro*/
    align-items: center;
    /*Espacio hacia dentro del elemento*/
    padding-top: 30px;
}

/*****
* SECCION NOSOTROS
******/
.section_nosotros_titulo {
    font-weight: 300;
    text-align: center;
}
.section_nosotros_iconos {
    display: flex;
    justify-content: space-between;
}
.section_nosotros_area_icono {
    width: calc(33.3% - 10px);
    text-align: center;
}
.section_nosotros_area_icono h3 {
    /*Para poner el texto en MAYUSCULAS*/
    text-transform: uppercase;
}
/**********************************
****  SECCION MAIN - ANUNCIOS  ****
***********************************/
.main_contenedor_anuncios {/*contenedor-anuncios*/
    display: flex;
    justify-content: space-between;
}
.main_contenedor_anuncios_detalle {/*anuncio*/
    flex-basis: calc(33.3% - 10px);
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
}
.anuncios_detalle_formato {/*contenido-anuncio*/
    padding: 20px;
}

.anuncios_detalle_formato h3, .anuncios_detalle_formato p {
    /*Eliminamos el estilo que aplica por default el navegador*/
    margin: 0;
}
.anuncios_detalle_formato_precio {/*precio*/
    color: #71B100;
    font-weight: 700;
}
.main_boton_derecha {
    display: flex;
    justify-content: flex-end;
}
.anuncios_detalle_formato_iconos {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.anuncios_detalle_formato_iconos li{
    display: flex;
}
.anuncios_detalle_formato_iconos li img {
    margin-right: 20px;
}
/***************************
****  SECCION CONTACTO  ****
****************************/
.section_contacto_imagen {
    background-image: url("../img/encuentra.jpg");
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.section_contacto_contenido {
    /*Factor de crecimiento, es decir, que flex detecta cuanto es el tamaño disponible
    y lo divide entre el número de elementos (1) y el resultado será el tamaño que flex le 
    asignará a los elementos*/
    flex: 1;
    color: #ffffff;
}
.section_contacto_contenido p {
    font-size: 18px;
}
.boton_contacto {
    display: inline-block;
}

/***************************************
****  SECCION BLOG Y TESTIMONIALES  ****
****************************************/
.section_blog_testimonios {
    display: flex;
    justify-content: space-between;
}
.section_blog_testimonios .section_blog {
    flex-basis: 60%;
}
.section_blog_testimonios .section_testimoniales {
    flex-basis: calc(40% - 20px);
}
/** BLOG **/
.section_blog_entradaBlog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section_blog_entradaBlog:last-of-type {
    margin-bottom: 0;
}
.section_blog_entradaBlog .section_blog_entradaBlog_imagen {
    flex-basis: 40%;
}
.section_blog_entradaBlog .section_blog_entradaBlog_Texto {
    flex-basis: calc(60% - 30px);
}
.section_blog_entradaBlog_Texto h4{
    margin: 0;
    line-height: 1.4;
}
.section_blog_entradaBlog_Texto a{
    color: #000000;
    text-decoration: none;
}
/*Pseudo elemento. Vamos a indicarle que despues(::after) del elemento (h4) 
nos genere un elemento.
*/
.section_blog_entradaBlog_Texto h4::after {
    content: '';/*Para que no muestre ningun texto*/
    display: block;/*No hay definido ningun bloque, por lo tanto lo definimos*/
    width: 150px;
    height: 5px;
    background-color: #71B100;
    margin-top: 10px;
}

.section_blog_entradaBlog_Texto span {
    color: #E08709;
}
/**TESTIMONIALES**/
.section_testimoniales_testimonio {
    background-color: #71B100;
    font-size: 24px;
    padding: 20px;
    color: #ffffff;
    border-radius: 20px;
}
.section_testimoniales_testimonio p {
    text-align: right;
}
/*Pseudo elemento. Vamos a indicarle que antes(::before) del elemento (blockquote) 
nos genere un elemento.
*/
.section_testimoniales_testimonio blockquote::before {
    content: '';
    background-image: url("../img/comilla.svg");
    background-position: center center;
    background-size: cover;
    width: 45px;
    height: 45px;
    display: block;
    /*Este seria el hijo, el padre debe tener position: relative*/
    position: absolute;
    left: -20px;
    top: -15px;
}
.section_testimoniales_testimonio blockquote {
    /*El padre debe tener una posición RELATIVA donde se le indica al navegador en
    que coordenadas se encuentra el elemento, para que los hijos con
    posicion ABSOLUTA puedan acceder a los atributos (top,left,bottom,right) 
    permitiendo posicionar un elemento en un lugar especifico.
    */
    position: relative;
    padding-left: 50px;
    font-weight: 300;
    text-align: justify;
}

/*****************
****  FOOTER  ****
******************/
.footer_site {
    margin-top: 20px;
    background-color: #333333;
}
.footer_contenedor {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.copyright {
    margin: 0;
    color: #ffffff;
}
/***********************************************
************************************************
***********    SECCIONES INTERNAS    ***********
************************************************
************************************************/
.main_contenido_nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.main_contenido_texto blockquote {
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    padding: 10px 0 30px 0;
}
.main_contenido_texto p {
    text-align: justify;
}